.parent {
  height: 100vh;
  display: flex;
  width: 100vw;
  border: solid black 1px;
}

.child1 {
  width: 25vw;
}
.child2 {
  width: 75vw;
}

.formBackground {
  width: 100vw;
  height: 100vh;
  float: left;
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
}

.closeButton {
  float: right;
}

.keyListMenu {
  box-sizing: border-box;
  width: 100%;
  height: 90%;
  border: solid black 1px;
  overflow: auto;
  padding: 0;
}

.buttonContainer {
  height: 10%;
}

.menu {
  width: 100%;
  padding: 0px;
  margin: 0px;
}
