.AddButton {
  width: 100%;
  border: none;
  background-color: white;
  text-align: center;
  height: 100%;
  font-size: 80%;
}

.AddButton:hover {
  font-size: 100%;
}

.container {
  box-sizing: border-box;
  border-right: solid black 1px;
  height: 100%;
  bottom: 0;
}
